@model BildstudionDV.BI.ViewModels.KundViewModel
<center>

    <b>
        <input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../jobb/index"' value="Tillbaka till Index" /><br />

        <font color="red">@ViewBag.Message</font>
        <br />

        @using (Html.BeginForm())
        {
            <b>Kundens Namn:</b><br />
            @Html.TextBoxFor(x => x.KundNamn)
            @Html.HiddenFor(x => x.OldName)
            <br /><br />
            <button type="submit" class="btn btn-info">Updatera Kund</button><br />
            <br />
            <input type="button" class="btn btn-danger" onclick='window.location.href = "../jobb/removekund?kundnamn=@Model.KundNamn"' value="Ta Bort Kund" />
            <b><font color="red">@ViewBag.ErrorMessage</font></b>

        }

    </b>
</center>