@model List<BildstudionDV.BI.ViewModels.KundViewModel>
@{ViewBag.Title = "Kunder"; }
<br />
<br />
<form action="~/jobb/addkund">
    <button class="btn-success btn-block btn nav-link" style="height:100px;">Lägg till ny kund</button>
</form>
<br />
@if (Model.Count != 0)
{
<br />

@foreach (var kund in Model)
    {
<center>
    <div class="row">
        <div class="col"></div>
        <div style="background-color:black;color:white;" class="col-8">
            <h1>@kund.KundNamn</h1>
            <input type="button" class="btn btn-info btn-block" onclick='window.location.href = "../jobb/editkund?kundnamn=@kund.KundNamn"' value="Redigera Kunden" />
            <input type="button" class="btn btn-dark btn-block" onclick='window.location.href = "../jobb/jobb?kundnamn=@kund.KundNamn"' value="Se Jobb" /><br />
            <h3> @kund.listOfJobbs.Where(x => x.StatusPåJobbet == BildstudionDV.BI.Models.Jobb.StatusTyp.KlarOchAvhämtat).ToList().Count / @kund.listOfJobbs.Count</h3><br />
        </div>
        <div class="col"></div>
    </div>
</center>
<br />
            }
}
@if(Model.Count == 0)
{
<h1>Här var det tomt! Lägg till en kund för att se lite liv.</h1>
}