@{
    ViewData["Title"] = "Logg";
}
<h1>Logg</h1>
<ul>
    <li>
        <b>2020-11-21</b><br />
        -Updaterat frontenden designen lite. (WIKI lite utdaterad design)
        -Updaterade tester som korrigerade bugg för matlistor ska vara 99% säkert nu
    </li>
    <li>
        <b>2020-11-20</b><br />
        -Lagt till Wiki sida där man kan läsa om hur man använder appen.<br />
        -Fixat lite frontend buggar.
        -Fixat så sidan ej laddar om när man updaterar närvaro. <br />
        -Export Funktion för alla registrerades gruppers närvaro som zip fil.<br />
        -Lagt till redigera matlådepris på matlista sidan, fixat bugg i koden för updatering av matlistepris<br />
        -Sett över konton för grupper.

    </li>
    <li>
        <b>2020-11-19</b><br />
        -Går nu att exportera excel för matlista / närvaro, matlista räknar per månad närvaro räknar per vecka<br />
        -Går nu att lägga till närvaro, datum fixat(error pga us server)<br />
        -Går nu att ladda ner Excel fil för gruppens inventarier.<br />
        -Går nu att se närvaro diagram och ladda ner som excel fil närvaro.
    </li>
    <li>
        <b>2020-11-18 - initial logg</b><br />
        Funktioner tillgängliga: Lägg till närvaro -> deltagare -> inventarier -> grupper -> enhet-> jobb -> deljobb -> kundjobb -> kunder.<br />
        Skapa konton för inloggning för externa grupper se <i>konton</i>.

    </li>
</ul>