@model BildstudionDV.BI.ViewModels.EnhetViewModel
@{ViewBag.Title = "Redigera Enhet"; }
<center>
    @using (Html.BeginForm())
    {
        <input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../inventarie/index"' value="Tillbaka till Enheter" />
        <h2>Redigerar Enhet</h2>
        <b>Enhetens Namn:</b><br />
        @Html.TextBoxFor(x => x.Namn) <br />
        <b>Chefens Namn:</b><br />
        @Html.TextBoxFor(x => x.ChefNamn) <br />
        <br />
        <input type="submit" class="btn btn-success" value="Updatera Enheten" />
        <br /> <br />
        <input type="button" class="btn btn-danger" onclick="Remove()" value="Ta bort Enheten" />

    }
</center>

<script>
        function Remove() {
        var r = confirm("Du ta nu bort denna enhet, är du säker på att du vill göra det? Tryck ok för att ta bort.");
            if (r == true) {
                window.location.href = "../inventarie/removeenhet?name=@Model.Namn";
        }
    }
</script>