@model BildstudionDV.BI.ViewModels.EnhetViewModel
@{ViewBag.Title = "Enhet"; }

<input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../inventarie/index"' value="Tillbaka till Enheter" />
<br />

<h2>Redigerar i Enhet:</h2>
<h3>@Model.Namn</h3>
<form action="~/inventarie/addgrupp">
    <button class="btn-success btn-block btn nav-link">Lägg till ny Grupp</button>
</form>
<br />
@if (Model.grupperInEnhet.Count != 0)
{
@for (int i = 0; i < Model.grupperInEnhet.OrderBy(x => x.GruppNamn).ToList().Count; i++)
    {

<center>
    <div class="row">
        <div class="col"></div>
        <div class="col-8 center-block" style="background-color: black;
        color: white;">
            <h1>@Model.grupperInEnhet.OrderBy(x => x.GruppNamn).ToList()[i].GruppNamn</h1>
            <h3>@Model.grupperInEnhet.OrderBy(x => x.GruppNamn).ToList()[i].InventarierInGrupp.Count registrerade Inventarier</h3>

            <input type="button" class="btn btn-info" onclick='window.location.href = "../inventarie/editgrupp?namn=@Model.grupperInEnhet.OrderBy(x => x.GruppNamn).ToList()[i].GruppNamn"' value="Redigera Gruppen" /><br />


            <input type="button" class="btn btn-dark" onclick='window.location.href = "../inventarie/grupp?namn=@Model.grupperInEnhet.OrderBy(x => x.GruppNamn).ToList()[i].GruppNamn"' value="Se Inventarier" />
            <br />
            <br />
        </div>

        <div class="col"></div>

    </div>

</center>
<br />

        }

}
@if(Model.grupperInEnhet.Count == 0)
{
<h1>Här var det tomt! Lägg till en grupp för att se lite liv.</h1>
}