@model List<BildstudionDV.BI.ViewModels.UserProfileViewModel>

@{ViewBag.Title = "Konton"; }
<form action="~/acount/adduser">
    <button class="btn-success btn-block btn nav-link">Lägg till ny Användare</button>
</form>
@if (Model.Where(x => x.UserName != "piahag" && x.UserName != "admin").ToList().Count != 0)
{
@foreach (var userModel in Model.OrderBy(x => x.AssociatedGrupp).ToList())
        {
            if (userModel.UserName == "admin" || userModel.UserName == "piahag")
            { }
            else
            {
<center>
    <div class="row">
        <div class="col-sm" style="background-color: darkblue; color:white;">
            <h1>@userModel.UserName</h1><br />
            <h4>@userModel.AssociatedGrupp</h4><br />
            <input type="button" class="btn btn-info" onclick='window.location.href = "../acount/edituser?namn=@userModel.UserName"' value="Redigera Användaren" /><br />
            <input type="button" class="btn btn-danger" onclick='window.location.href = "../acount/removeuser?namn=@userModel.UserName"' value="Ta Bort Användaren" /><br />
        </div>
    </div>
</center>
            }
        }
}
@if (Model.Where(x => x.UserName != "piahag" && x.UserName != "admin").ToList().Count == 0)
{
<h1>Här var det tomt! Lägg till ett konto för att se lite liv.</h1>
}